#new_document {


  padding: 0 10%;


}



input[name='document[url]'] {

  height: 40px;
  width: 70%;
  //  background-color: rgba(245, 245, 220, 0.39);
  font-size:21pt ;
  display: inline;
  float: left;


}

#document_type {


  width: 28%;
  height: 52px;
  font-size:19pt ;
}


input[name="document[file]"] {

  margin: 20px 0px;
  width: 50%;
  height: 40px;
  background-color: rgba(211, 211, 211, 0.36);


}